.erro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 30px;
}

.link-home {
    text-decoration: none;
    font-size: 25px;
    margin: 20px;
    color: #edcb46;
    border: 1px solid orange;
    padding: 10px;
    border-radius: 5px;
}

h1{
    font-size: 120px;
}

p{
    font-size: 25px;
}